<div class="tab-content">
  <title>Posting</title>
  <h1 class="text-center">My Uploads</h1>
  <div class="search-container  clearfix">
    <div class="col-md-12">
      <div ng-repeat="food in model.foodItems" class="food-item">
        <div class="info">
          <div class="title"><b>{{food.variety}} Variety</b></div>
        </div>
        <div class="food-image">
          <img ng-src="{{food.image}}" class="col-xs-12">
        </div>
        <div class="info">
          <div class="title">{{food.title}}</div>
          <div ng-if="food.quantity != 0" class="options pull-right"> 
            <button title="Click to edit food deatils." data-toggle="tooltip" data-placement="top" tooltip ng-click="model.editFood(food._id)" class="glyphicon glyphicon-pencil btn btn-success"></button>
            <button title="Click to delete this posting." data-toggle="tooltip" data-placement="top" tooltip ng-click="model.deleteFood(food._id)" class="glyphicon glyphicon-remove btn btn-danger"></button>
          </div>
          <div ng-if="food.quantity == 0" class="options pull-right">
            <button title="Already sold!" data-toggle="tooltip" data-placement="top" tooltip ng-disabled="true" ng-click="model.editFood(food._id)" class="glyphicon glyphicon-pencil btn btn-success"></button>
            <button title="Already sold!" data-toggle="tooltip" data-placement="top" tooltip ng-disabled="true" ng-click="model.deleteFood(food._id)" class="glyphicon glyphicon-remove btn btn-danger"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>