<div class="tab-content">
  <div class="search-container  clearfix">
    <div class="col-md-12">
      <div ng-if="food.userId != model.user._id" ng-repeat="food in model.foodItems" class="food-item">
        <div class="info">
          <div class="title"><b>{{food.variety}} Variety</b></div>
        </div>
        <div class="food-image">
          <a ng-click="model.foodDetails(food._id)" href=""><img ng-src="{{food.image}}" class="col-xs-12"></a>
        </div>
        <div class="info">
          <div class="title"><b>{{food.title}} - ${{food.cost}}</b></div>
          <button ng-click="model.foodDetails(food._id)" class="btn btn-success price pull-right">Order</button> 
        </div>
      </div>
      <div ng-if="model.foodItems.length == 0">
        <br>
        <br>
        <h3 class="text-center">Currently no order to display</h3>
      </div>  
    </div>
  </div>
</div>

