<div class="col-md-10 col-md-offset-1">
  <title>Notifications</title>
  <h1 ng-if="model.notifications.length != 0" class="text-center">Items Pending</h1>

  <div id="formTabsContent"  class="tab-content ">
    <div role="tabpanel" class="tab-pane fade in active" id="forms" aria-labelledby="formsTab">
      <div ng-if="model.notifications.length == 0">
        <br>
        <br>
        <h3 class="text-center">Nothing pending</h3>
      </div>  
      <table ng-if="model.notifications.length != 0" class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>From
              <a ng-click="order('user')" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            </th>
            <th>User details
              <a ng-click="order('userInfo')" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            </th>
            <th>Food Details
              <a ng-click="order('title')" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            </th>
            <th>Comments
              <a ng-click="order('comments')" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            </th>
            <th>Order date
              <a ng-click="order('orderDate')" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="noti in model.notifications | orderBy:predicate:reverse" class="warning"> 
            <td>{{noti.user}}</td>
            <td>{{noti.userInfo}}</td>
            <td>{{noti.title}}</td>
            <td>{{noti.comments}}</td>
            <td>{{noti.orderDate | date: 'short'}}</td>
            <td ng-disabled="noti.status"><button ng-click="model.deliverFood(noti.orderId, noti._id)" class="btn btn-success">Delivered Food</button></td>
          </tr>
        </tbody>
      </table>
          
    </div>
  </div>
</div>
