<div class="col-md-6 col-md-offset-3">
  <title>account</title>
  <h1 class="text-center">My acount</h1>
  <form name="myForm">
    
    <div class="form-group">
      <label for="user-name" class="control-label text-left">Username:</label>
      <input ng-disabled="true" ng-required="true" name="username" ng-model="model.user.username" type="text" class="form-control" id="user-name" placeholder="Username">
      <p class="displayerrormessage" ng-show="myForm.username.$invalid && myForm.username.$touched">Please enter username</p>
    </div>

    <div class="form-group">
      <label for="password" class="control-label text-left">Password:</label>
      <input ng-required="true" name="password" ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
      <p class="displayerrormessage" ng-show="myForm.password.$invalid && myForm.password.$touched">Please enter password</p>
    </div>

    <div class="form-group">
      <label for="first-name" class="control-label text-left">First Name:</label>
      <input ng-required="true" name="firstName" ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Fisrt Name">
      <p class="displayerrormessage" ng-show="myForm.firstName.$invalid && myForm.firstName.$touched">Please enter your first name.</p>
    </div>

    <div class="form-group">
      <label for="last-name" class="control-label text-left">Last Name:</label>
      <input ng-required="true" name="lastName" ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Last Name">
      <p class="displayerrormessage" ng-show="myForm.lastName.$invalid && myForm.lastName.$touched">Please enter your last name.</p>      
    </div>

    <div class="form-group">
      <label ng-required="true" for="email" class="control-label text-left">Email:</label>
      <input ng-required="true" name="email" ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Email">
      <p class="displayerrormessage" ng-show="myForm.email.$invalid && myForm.email.$touched">Please enter valid email address</p>
    </div>

    <div class="form-group">
      <label for="gender" class="control-label text-left">Gender:</label>
      <select required="true" name="gender" ng-model="model.user.gender" class="form-control" type="text">
        <option ng-repeat="g in model.genders" value="{{g}}">{{g}}</option>
      </select>
      <p class="displayerrormessage" ng-show="myForm.gender.$invalid && myForm.gender.$touched">Please select gender.</p>        
    </div>

    <div class="form-group">
      <label for="address" class="control-label text-left">Address:</label>
      <input ng-model="model.user.address" type="address" class="form-control" id="address" placeholder="Address">
    </div>

    <div class="form-group">
      <button ng-disabled="myForm.username.$invalid || myForm.gender.$invalid || myForm.password.$invalid || myForm.email.$invalid || myForm.firstName.$invalid || myForm.lastname.$invalid" ng-click="model.update(model.user)" class="btn btn-default btn-success btn-block">Update my account</button>
      <button ng-click="model.back()" class="btn btn-default btn-primary btn-block">home page</button>
    </div>
  </form>
</div>
