<div class="col-md-6 col-md-offset-3">
  <title>Add New Food </title>
  <h1 class="text-center">New Food Item</h1>
  <form name="myForm">
    <div id="formTabsContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="forms" aria-labelledby="formsTab">
        <table class="table table-striped table-bordered">
          <tbody>

            <div class="form-group">
              <label for="image" class="col-sm-2 control-label">Image</label>
              <div class="col-sm-10">
                <input type="file" accept="image/*" class="form-control" id="image"
                onchange="angular.element(this).scope().imageChanged(this)">
              </div>
            </div>
            <div id="display"></div>
            
            <div class="form-group">
              <label for="category" class="control-label ">Pick Varieties Type:</label>
              <select ng-required="true"  name="variety" ng-model="model.food.variety" class="form-control" type="text">
                <option ng-repeat="c in model.varieties" value="{{c}}">{{c}}</option>
              </select>
              <p class="displayerrormessage" ng-show="myForm.variety.$invalid && myForm.variety.$touched">Please select variety type.</p>
            </div>


            <div class="form-group">
              <label for="title" class="control-label ">Title:</label>
              <input ng-required="true" name="title" ng-minlength="4" ng-maxlength="50" ng-model="model.food.title" type="text" class="form-control" >
              <p class="displayerrormessage" ng-show="myForm.title.$invalid && myForm.title.$touched">Please pick a valid title with atleast 4 characters.</p>
            </div>

            <div class="form-group">
              <label for="description" class="control-label">Description:</label>
              <textarea ng-required="true" name="description" ng-minlength="10" ng-maxlength="450" ng-model="model.food.description" type="text" class="form-control" ></textarea>
              <p class="displayerrormessage" ng-show="myForm.description.$invalid && myForm.description.$touched">Please describe your food with 10 - 255 characters.</p>
            </div>

            <div class="form-group">
              <label for="cost" class="control-label ">Cost:</label>
              <input name="cost" ng-pattern="/^[0-9]{1,7}$/" ng-required="true" min="1" ng-model="model.food.cost" type="number" class="form-control"  placeholder="Cost">
              <p class="displayerrormessage" ng-show="myForm.cost.$error.pattern">Please enter a valid number</p>
              <p class="displayerrormessage" ng-show="myForm.cost.$invalid && myForm.cost.$touched">Please enter cost of food item.</p>
            </div>

            <div class="form-group">
              <button ng-disabled="myForm.variety.$invalid || myForm.title.$invalid || myForm.description.$invalid || myForm.cost.$invalid" ng-click="model.addFood(model.food)" class="btn btn-success btn-block">Post Food</button>
              <button ng-click="model.back()" class="btn btn-primary btn-block">Home</button>
            </div>

          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>